# ******* Java and Eclipse Files ******
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# ****MACOS files*******
# General
.DS_Store
.AppleDouble
.LSOverride
